# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific (Optional, uncomment if you don't want to push generated RAG data)
# faiss_index/
